- title ["Meat & Three Restaurant", "Franklin, TN"]

-# Intro
.l-intro
  .m-logo
    = image_tag "logo.png"
  .m-contact
    = link_to @contact.address, "#map", data: {behavior: "updateAnalytics"}
    .contact-hours-open
      = link_to "#contact", data: {behavior: "updateAnalytics"} do
        Open Today
        %span= @contact.todays_hours

.m-divider.dotted


-# Menu
.l-split.m-menu
  .l-split-half
    #daily-specials
      - @menu.specials.each_with_index do |day, index|
        %div{ id: day_id(day), style: ("display:none;" unless index == @menu.todays_index), data: {prev_special: "##{day_id(@menu.prev_day day)}", next_special: "##{day_id(@menu.next_day day)}"} }
          .m-boxed-title
            .boxed-title-wrap
              %h2
                = link_to icon("e006"), "##{day_id(@menu.prev_day day)}", data: {behavior: "daily-special"}
                = day[:title]
                = link_to icon("e007"), "##{day_id(@menu.next_day day)}", data: {behavior: "daily-special"}
          .m-menu-items
            %ul
              - day[:entrees].each do |entree|
                %li= entree
            .m-divider.dotted
            %ul
              - day[:sides].each do |entree|
                %li= entree

          = render "shared/menu_title", title: "Desserts"
          .m-menu-items
            %ul
              - day[:entrees].each do |entree|
                %li= entree

  .l-split-half
    = render "shared/menu_title", title: "Plates"
    .m-menu-items.plates
      %ul
        - @menu.plates[:veggies].each do |veggie|
          %li
            = "#{veggie[:title]}.....$#{veggie[:price]}"
      .m-divider.dotted
      %ul
        - @menu.plates[:meats].each do |meat|
          %li
            = "#{meat[:title]}.....$#{meat[:price]}"
      - @menu.plates[:drinks].each do |drink|
        %h3.m-double-bordered-title
          = "#{drink[:title]}.....$#{drink[:price]}"

    = render "shared/menu_title", title: "Family Meal"
    .m-menu-items
      %h3.m-double-bordered-title Feeds a Family of 4
    .m-menu-image
      = image_tag "family_meal.png"

.m-divider.dotted

.l-split.m-menu
  .l-split-half
    .m-menu-image
      = link_to "http://bishops-production.s3.amazonaws.com/menus/Bishops_Menu.pdf", target: "_blank" do
        = image_tag "weekly_menu.png"
  .l-split-half
    .m-menu-image
      = link_to "http://bishops-production.s3.amazonaws.com/menus/Bishops_Menu.pdf", target: "_blank" do
        = image_tag "dine_in_take_out.png"

.m-divider.dotted


-# Catering
.m-catering
  %h2.m-giant-title &bull; Catering &bull;
  .m-divider.doubled
  %p We would love to cater your next event.
  = link_to "http://bishops-production.s3.amazonaws.com/menus/Bishops_CateringMenu.pdf", target: "_blank" do
    = render "shared/menu_title", title: "Catering Menu #{icon('e005')}"

.m-divider.dotted


-# Slogan
.m-description
  .l-split
    .l-split-half.m-slogan
      %h2.m-giant-title.slogan-1 There Is
      %h2.m-giant-title.slogan-2 Nothing
      %h2.m-giant-title.slogan-3 Better Than
      %h2.m-giant-title.slogan-4 Tradition
      = image_tag "curly_brace.png"
    .l-split-half.m-about
      %p Bishop's is more than just food that sticks to your ribs; it is a community-focused restaurant providing the highest quality foods. Whether you dine with us or bring some of our home into your own, Bishop's made from scratch items provide a quick and easy meal at an unbeatable value.
      %p Bishop's combines over 50 years of experience and carefully manages the source of all ingredients. We buy local and organic whenever possible.


-# Map
.m-map#map
  = link_to @contact.google_maps_url, target: "_blank" do
    = image_tag "map.png"
    .marker#map-marker.is-visible= image_tag "map-marker.png"


-# Contact
.m-contact#contact
  = link_to @contact.address, "#map", data: {behavior: "updateAnalytics"}
  %br
  = link_to "ph #{@contact.phone} | fx #{@contact.fax}", phone_link(@contact.phone), data: {behavior: "updateAnalytics"}
  %br
  Mon-Sat 11a-8p | Sun 10:30a-2:30p
