- title ["Meat & Three Restaurant", "Franklin, TN"]

-# Intro
.l-intro
  .m-logo
    = image_tag "logo.png"
  .m-contact
    = link_to @contact.address, "#map"
    .contact-hours-open
      Open Today
      %span= @contact.todays_hours

.m-divider.dotted


-# Menu
.l-split.m-menu
  .l-split-half
    = render "shared/menu_title", title: @menu.todays_specials[:title]
    .m-menu-items
      %ul
        - @menu.todays_specials[:entrees].each do |entree|
          %li= entree
      .m-divider.dotted
      %ul
        - @menu.todays_specials[:sides].each do |entree|
          %li= entree

    = render "shared/menu_title", title: "Desserts"
    .m-menu-items
      %ul
        - @menu.todays_specials[:entrees].each do |entree|
          %li= entree

  .l-split-half
    = render "shared/menu_title", title: "Plates"
    .m-menu-items.plates
      %ul
        - @menu.plates[:veggies].each do |veggie|
          %li
            = "#{veggie[:title]}.....$#{veggie[:price]}"
      .m-divider.dotted
      %ul
        - @menu.plates[:meats].each do |meat|
          %li
            = "#{meat[:title]}.....$#{meat[:price]}"
      - @menu.plates[:drinks].each do |drink|
        %h3.m-double-bordered-title
          = "#{drink[:title]}.....$#{drink[:price]}"

    = render "shared/menu_title", title: "Family Meal"
    .m-menu-items
      %h3.m-double-bordered-title Feeds a Family of 4
    .m-menu-image
      = image_tag "family_meal.png"

.m-divider.dotted

.l-split.m-menu
  .l-split-half
    .m-menu-image
      = image_tag "weekly_menu.png"
  .l-split-half
    .m-menu-image
      = image_tag "dine_in_take_out.png"

.m-divider.dotted

-# Catering
.m-catering
  %h2.m-giant-title &bull; Catering &bull;
  .m-divider.doubled
  %p We would love to cater your next event.
  = link_to "#TODO add URL" do
    = render "shared/menu_title", title: "Download Our Catering Menu"

.m-divider.dotted

-# Slogan
.m-description
  .l-split
    .l-split-half.m-slogan
      %h2.m-giant-title.slogan-1 There Is
      %h2.m-giant-title.slogan-2 Nothing
      %h2.m-giant-title.slogan-3 Better Than
      %h2.m-giant-title.slogan-4 Tradition
      = image_tag "curly_brace.png"
    .l-split-half.m-about
      %p Bishop's is more than just food that sticks to your ribs; it is a community-focused restaurant providing the highest quality foods. Whether you dine with us or bring some of our home into your own, Bishop's made from scratch items provide a quick and easy meal at an unbeatable value.
      %p Bishop's combines over 50 years of experience and carefully manages the source of all ingredients. We buy local and organic whenever possible.
